<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="ICO Crypto is a modern and elegant landing page, created for ICO Agencies and digital crypto currency investment website.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- Site Title  -->
    <title>ICO Crypto - Bitcoin &amp; Cryptocurrency SignUp</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="assets/css/vendor.bundle.css?ver=124">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="assets/css/style.css?ver=124">
    <link rel="stylesheet" href="assets/css/theme.css?ver=124">
</head>

<body class="theme-dark io-azure io-light-pro" data-spy="scroll" data-target="#mainnav" data-offset="80">

<div class="user-page d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="user-pro-box user-pro-box-s2">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="user-pro-info">
                                <div class="user-logo">
                                    <a href="#">
                                        <img src="images/extra-pages/logo-sm-white.png"
                                             srcset="images/extra-pages/logo-sm-white2x.png 2x" alt="icon">
                                    </a>
                                </div>
                                <div class="user-graphics">
                                    <img src="images/extra-pages/user-page-image-b.png" alt="user">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="user-pro-form">
                                <div class="tab-content" id="nav-tabContent">
                                    <h4 style="color: black" align="center">Create an account</h4>
                                    <div class="tab-pane fade show active" id="cont-signup" role="tabpanel">
                                        <span class="form-heading">Create an account to Join ICO Crypto community and buy ICOX Token.</span>
                                        <form class="signup-form" id="signUpForm">
s                                           <div id="server-error"></div>
                                            <div class="input-item">
                                                <div class="input-wrapper">
                                                    <input type="text" name="username" placeholder="Username" class="input-border-simple">
                                                    <em class="fas fa-user input-icon"></em>
                                                </div>
                                            </div>
                                            <div class="input-item">
                                                <div class="input-wrapper">
                                                    <input type="email" name="email" placeholder="Your Email" class="input-border-simple">
                                                    <em class="fas fa-envelope input-icon"></em>
                                                </div>
                                            </div>
                                            <div class="input-item">
                                                <div class="input-wrapper">
                                                    <input type="text" name="walletAddress" placeholder="Wallet Address" class="input-border-simple">
                                                    <em class="fas fa-wallet input-icon"></em>
                                                </div>
                                            </div>
                                            <div class="input-item">
                                                <div class="input-wrapper">
                                                    <input type="password" name="password" id="password" placeholder="Password" class="input-border-simple">
                                                    <em class="fas fa-key input-icon"></em>
                                                </div>
                                            </div>
                                            <div class="input-item">
                                                <div class="input-wrapper">
                                                    <input type="password" name="passwordConfirm" placeholder="Repeat Password" class="input-border-simple">
                                                    <em class="fas fa-key input-icon"></em>
                                                </div>
                                            </div>
                                            <div class="input-item">
                                                <div class="g-recaptcha"
                                                     data-callback="onCaptchaResponse"
                                                     data-sitekey="6Ld1H2AUAAAAAHTyyhkiNlJdTCR_d0EzuuKoCR09">
                                                </div>
                                                <input class="hiddenRecaptcha required"
                                                       type="hidden"
                                                       name="hiddenRecaptcha"
                                                       id="hiddenRecaptcha">
                                            </div>
                                            <div class="input-item text-left">
                                                <input name="aggrement" type="checkbox" id="aggrement"
                                                       class="input-checkbox">
                                                <label for="aggrement">I confrim that I have read, understand and agree
                                                    to the <a href="#">Privacy Policy</a> and <a href="#">Terms of
                                                        Use</a>.</label>
                                            </div>
                                            <div class="d-xl-flex justify-content-between align-items-center">
                                                <button class="btn btn-sm">Sign Up</button>
                                                <div class="gaps d-xl-none"></div>
                                                <span class="d-block">Don`t have an account? <a href="login"
                                                                                                class="simple-link">Sign in!</a></span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gaps"></div>
                <div class="form-footer d-flex justify-content-between">
                    <span>Copyright © 2018 ICO Crypto.</span>
                    <ul class="form-footer-links">
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Preloader !remove please if you do not want -->
<div id="preloader">
    <div id="loader"></div>
    <div class="loader-section loader-top"></div>
    <div class="loader-section loader-bottom"></div>
</div>
<!-- Preloader End -->

<!-- JavaScript (include all script here) -->
<script src="assets/js/jquery.bundle.js?ver=124"></script>
<script src="assets/js/script.js?ver=124"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    function onCaptchaResponse(response) {
        $('#signUpForm').validate().element('#hiddenRecaptcha');
    }
</script>
</body>
</html>
