<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ICO Crypto is a modern and elegant landing page, created for ICO Agencies and digital crypto currency investment website.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- Site Title  -->
    <title>ICO Crypto - Bitcoin &amp; Cryptocurrency Check email</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="assets/css/vendor.bundle.css?ver=124">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="assets/css/style.css?ver=124">
    <link rel="stylesheet" href="assets/css/theme.css?ver=124">
</head>


<body class="theme-dark io-azure io-light-pro no-touch loaded" data-spy="scroll" data-target="#mainnav" data-offset="80">


<!-- Preloader !remove please if you do not want -->
<div id="preloader">
    <div id="loader"></div>
    <div class="loader-section loader-top"></div>
    <div class="loader-section loader-bottom"></div>
</div>
<!-- Preloader End -->

<!-- JavaScript (include all script here) -->
<script src="assets/js/jquery.bundle.js?ver=124"></script>
<script src="assets/js/validate-confirmation-token.js"></script>
</body>
</html>
